.header {
  display: flex;
  max-width: 1184px;
  min-height: 52px;
  margin: 0 auto 0;
  justify-content: space-between;
  padding-top: 28px;
}

@media screen and (max-width: 1200px) {
  .header {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 900px) {
  .header {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: calc(100% - 32px);
    min-height: 42px;
    padding-top: 16px;  
  }  
}