.footer {
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 96px);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0 auto 0;
}

@media screen and (max-width: 900px) {
  .footer {
    max-width: calc(100% - 48px);
  }  
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    max-width: calc(100% - 32px);
    font-size: 24px;
    line-height: 24px;
  }  
}